django
django-cors-headers
djangorestframework
drf-spectacular
flask
flasgger
flask_marshmallow
flask_sqlalchemy
flask_swagger_ui
marshmallow-sqlalchemy
pillow
pyotp
python-dotenv
PyJWT
qrcode
stripe
