<h2 class="card-title">Account Details</h2>
<p><strong>Name:</strong> {{ account.name }}</p>
<p><strong>Email:</strong> {{ account.email }}</p>
<p><strong>Subscription Status:</strong> {{ subscription_status }}</p>
<p><strong>JWT Token:</strong> {{ token }}</p>
<p><strong>Email Confirmed:</strong> {{ account.email_confirmed }}</p>
<p><strong>2FA Enabled:</strong> {{ account.mfa_enabled }}</p>
{% if not account.mfa_enabled %}
<img src="{{ qrcode }}">
<form method="GET" action="{% url 'enable-mfa' %}">

    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Enable 2FA</button>
</form>
{% else %}
<form method="POST" action="{% url 'disable-mfa' %}">
   
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Disable 2FA</button>
</form>
{% endif %}

{% if user.is_authenticated %}
<form method="POST" action="{% url 'logout' %}">
   
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
{% endif %}
<a class="nav-link text-light" href="{% url 'products' %}">Products</a>