{% if not account.mfa_enabled %}
<form method="POST" action="{% url 'enable-mfa' %}">
   
    {% csrf_token %}
    <div class="mb-3">
        <label for="otp" class="form-label">Enable 2FA</label>
        <input type="text" class="form-control" id="otp" name="otp" required>
        <input type="hidden" id="account_id" name="account_id" value="{{ account.id }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Enable 2FA</button>
</form>
{%else%}
2FA Enabled Already!
{% endif %}